{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "modules":  false,
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["emotion", {
      "inline": true,
      "sourceMap": true
    }],
    "@loadable/babel-plugin",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "app": "./app",
        "components": "./components"
      }
    }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "lodash"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": {
              "version": 3,
              "proposals": true
            },
            "debug": false,
            "targets": {
              "browsers": [
                "last 3 versions"
              ]
            }
          }
        ]
      ]
    }
  }
}
