{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "modules":  false,
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["emotion", {
      "inline": true,
      "sourceMap": true
    }],
    [
      "react-intl",
      {
        "messagesDir": "./dist/messages/",
        "extractSourceLocation": false
      }
    ],
    "@loadable/babel-plugin",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "app": "./app",
        "components": "./components"
      }
    }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/plugin-proposal-decorators",
          {
            "legacy": true
          }
        ],
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "targets": {
              "browsers": [
                "last 3 versions"
              ]
            }
          }
        ]
      ]
    }
  }
}
